

.navbar-brand{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.4rem !important;
    
}
.navbar-brand,.navbar-toggler{
    color: white !important;
    box-shadow: none !important;
}

.navbar-nav input{
    box-shadow: none !important;
    outline: none !important;
    border: none;
  width: 100%;
  font-family: 'Lato', sans-serif;
     
}

.navbar-nav form{
    background: #fff;
    border-radius: 20px;
    padding:4.5px 8px 4.5px 12px ;
    width:40vw;
}
.nav-link{
   padding: 0 0.4rem 0.4rem 0.4rem !important;
    color: #9e48cd !important;
   padding-top: 0 !important;
   border-radius: 25px;
   font-weight: bold;
   border:1.5px solid #fff;
   background-color: #fff;
font-size: 1.1rem;

}
.header-buttons figure{
width:2.4vw;
border-radius: 50%;
overflow: hidden;
padding: 0;
margin: 0 !important;
}

#dropdownMenuButtonProfile{
    font-family: 'Lato', sans-serif;
    padding:5px;
    font-weight: 600;
    border-radius: 5px;
}
.nav-dwn-menu a:hover{
    background: #bf68e6 !important;
    color: #fff !important;
    }